@media screen and (min-width: 700px) {
    #menu {
        display: none;
    }

    nav {
        display: flex;
    }

    .navigation {
        display: flex;
        gap: 1rem;
    }

    main {
        max-width: 900px;
        margin: 0 auto;
    }

    .temple-gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}