/* temples-large.css */
@media only screen and (min-width: 700px) {
    #menu-toggle {
        display: none;
    }

    nav {
        display: flex !important;
        flex-direction: row;
        gap: 1rem;
    }

    nav a {
        padding: 0.5rem 1rem;
    }

    .temple-grid {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}